.admin-sidebar {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 18vw;
    height: 100vh;
    padding: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
    border-right: 2px solid #34495e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

.sidebar-brand {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-brand span {
    margin-right: 10px;
    font-size: 1.5rem;
}

.sidebar-options {
    flex-grow: 1;
}

.sidebar-list {
    padding: 20px 0 0 10px;
    list-style-type: none;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 25px 10px;
    font-size: 17px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-list-item a,
.sidebar-list-item span {
    font-family: 'poppins regular';
    color: #ecf0f1;
    text-decoration: none;
}

.sidebar-list-item:hover {
    background-color: #FFC0CB;
    color: #2c3e50;
}
.sidebar-list-item:hover span{
    color: #2c3e50;
}

.sidebar-btn {
    margin-top: 20px;
}

.sidebar-btn {
    font-size: 1.1rem;
    width: 80%;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background-color: #b77b86;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sidebar-btn:hover {
    background-color: #8d4e59;
    box-shadow: 0 0 10px rgba(86, 45, 41, 0.5);
}
