button:hover{
  background: #443f39;
  color: #d09097;
  box-shadow: 10px 10px 10px -1px rgb(169, 132, 160);
}

.btn2 span{
  margin-right: 4px;
  color: white;
}
.btn2 button:hover span{
  color: #d09097;
}

.product-main-content{
  width: 77vw;
  padding-top: 15vh;
}


.card-header3 h2{
  margin: -2rem 0 -.5rem 2.2rem;
  text-decoration: underline;
}

.id-box3{
  min-width: 8rem;
  border: 1rem #969393;
}

.name-box3{
  min-width: 20rem;
}

.edit-box3{
  min-width: 12rem;
}.delete-box3{
   min-width: 12rem;
}

.edit-btn3, .delete-btn3{
  padding: 6px 0 0 0 ;
  width: 5vw;
  height: 3vw;
  border-radius: 10px;
  margin: -1rem 1rem -1.2rem 2.3rem;
}

.delete-btn3:hover{
  background: #443f39;
  color: #d09097;
  box-shadow: 10px 10px 10px -1px rgb(211, 164, 164);
}


body.active-modal {
  overflow-y: hidden;
}

.product-name-add-btn {
  position: absolute;
  top: 21rem; 
  left: 2rem;
}

.manage-product-page {
  background: #f0f4f7;
  display: flex;
}

.product-right {
  height: 100vh;
  width: 80vw;
  position: relative;
  /* margin-left: 20vw; */
}

.product-header {
  display: flex;
  position: fixed;
  height: 10vh;
  width: 85vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #2d4059;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.product-header h1 {
  font-size: 1.8rem;
  color: #808080;
}

.product-header span {
  font-size: 1.2rem;
}

.search-wrapper3 {
  margin: 20px;
  display: flex;
  align-items: center;
}

.search-wrapper3 input {
  width: 300px;
  padding: 10px;
  border: 2px solid #4d5e70;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  margin-right: 10px;
}

.user-wrapper3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-wrapper3 img {
  border-radius: 50%;
  margin-right: 1rem;
  padding-right: 20px;
}

.user-wrapper3 small {
  color: #808080;
}


body.active-modal {
  overflow-y: hidden;
}

.add-product-modal, .add-product-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 101;
  backdrop-filter: blur(3px);
}

.add-product-modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #FFC0CB;
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 1.1rem;
  width: 35vw;
  height: 60vh;
  z-index: 109;
  text-decoration: underline;
}



.close-add-product-btn {
  width: 3vw;
  height: 3vw;
  background: none;
  box-shadow: none;
  color: #222222;
  border-radius: 9px;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  padding: 7px 3px 0 3px;
  margin-bottom: -20px;
}

.close-add-product-btn:hover {
  box-shadow: none;
  color: #831515;
}







