@import '@webpixels/css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'poppins regular';
}

@font-face {
  font-family: poppinsLight;
  src: url("../public/Fonts/Poppins-Light.ttf") format('truetype');
}
@font-face {
  font-family: poppins regular;
  src: url("../public/Fonts/Poppins-Regular.ttf") format('truetype');
}
@font-face {
  font-family: poppins semi-bold;
  src: url("../public/Fonts/Poppins-SemiBold.ttf") format('truetype');
}

.poppins-light{
  font-family: 'poppinsLight';
  color: #929292;
}
.poppins-semibold{
  font-family: 'poppins semi-bold';
}


body {
  background: #f1f1f1 !important;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


#main {
  min-height: 80vh;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.carsouel__item img {
  height: 50rem;
}

.nav-link span {
  font-size: 1rem;
  
  transition: all 0.2s ease;
}

.nav-link span:hover {
  font-weight: bold;
  color: #FFC0CB!important;
}

.dropdown-item {
  transition: all 0.2s ease;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #FFC0CB !important;
}

@media (max-height: 760px) {
  .carsouel__item img {
    height: 15rem;
  }
}

section {
  /* padding: 60px 0; */
  overflow: hidden;
  position: relative;
}

.icons__cart {
  transition: all 0.3 ease;
}

.icons__cart:active {
  transform: scale(1.1);
}

.stripe__container button {
  width: 100%;
}


.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.5s;
  height: 70px;
  width: 120px;
}

@media (max-height: 760px) {
  .brand-img {
    height: 40px;
    width: 80px;
  }
}

.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}


.tempaltemo-carousel .h1 {
  font-size: 0.5em !important;
  color: #000 !important;
}

td{
  text-align: center;
}

