@import '@webpixels/css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #111010;
  text-decoration: inherit;
}
a:hover {
  color: #f7879a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1500px;
  min-height: 100vh;
}

h1 {
  font-size: 1em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f06f85;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f56d84;
  }
  button {
    background-color: #f9f9f9;
  }
}
table {
  margin: 1rem auto;
  border-radius: 5px;
  border: 3rem hidden #f5eeee;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 80rem;
  background-color: #000000B7;
}

thead {
  font-size: 1.2rem;
  background-color: #d2d2d2;
  color: #2c2100;
}

th,td {
  border: 1px solid #000000B7;
  min-width: 5rem;
  padding: 1.5rem;
  line-height: 0.2;
  border-radius: 5px;
}

td {
  font-size: 1rem;
  background-color: white;
}

h6{
  font-size: 1rem;
  font-family: Afacad;
  font-weight: 200;
  letter-spacing: -0.7px;
  color: rgba(70, 1, 1, 0.63);
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f1f1f1 !important;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.rating span {
  margin: 0 2px;
}

#main {
  min-height: 80vh;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.carsouel__item img {
  height: 50rem;
}

.nav-link span {
  font-size: 1rem;
  height:2rem;
  transition: all 0.2s ease;
}

.nav-link span:hover {
  font-weight: bold;
  color: #FFC0CB!important;
}

.dropdown-item {
  transition: all 0.2s ease;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #FFC0CB !important;
}

@media (max-height: 760px) {
  .carsouel__item img {
    height: 15rem;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.icons__cart {
  transition: all 0.3 ease;
}

.icons__cart:active {
  transform: scale(1.1);
}

.stripe__container button {
  width: 100%;
}


.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.5s;
  height: 70px;
  width: 120px;
}

@media (max-height: 760px) {
  .brand-img {
    height: 40px;
    width: 80px;
  }
}

.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}


.tempaltemo-carousel .h1 {
  font-size: 0.5em !important;
  color: #000 !important;
}
